*{
  margin:0;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background: grey;
}
main{
  display:flex;
  /* background: yellow; */
  width:100%;
  max-width:1440px;
}
